{{> header}}
{{> navbar}}

        <h1>David Alfaro</h1>
        <br>
        <hr>
        <p><img src="Images.jpg/David 1.jpeg" alt="David"></p>
        <p> David Alfaro Siqueiros nació el 29 de diciembre de 1896 en Santa Rosalía (hoy Ciudad Camargo), Chihuahua (México).

Hijo de Cipriano Alfaro y Teresa Siqueiros.

Cursó estudios en la Escuela de Bellas Artes de México y en la escuela de Santa Anita de esta ciudad.
En 1914 se incorporó a la Revolución Mexicana alcanzando el grado de coronel en el Ejército Constitucionalista.

Tomó parte en el renacimiento de la pintura al fresco efectuada bajo el patrocinio gubernamental de las decoraciones murales en edificios públicos.

Fue uno de los tres grandes del muralismo mexicano junto con José Clemente Orozco y Diego Rivera.

Residió en París, Barcelona y Estados Unidos. En 1921 publicó en Barcelona un único número de la revista Vida Americana, que contenía su "Manifiesto para los artistas de América", en el que exponía sus ideas sobre el muralismo.</p>
         <p>
            A su regreso, organizó el sindicato de pintores, escultores y grabadores revolucionarios. El gobierno le encargó los primeros grandes murales, el primero de los cuales no pudo terminar, debido a una huelga estudiantil.

            Formó parte del Partido Comunista Mexicano y fundó el periódico El Machete. Es encarcelado unas siete veces y otras exiliado a causa de su ideología Marxista-Stalinista.
            
            Participa en las revoluciones contra Huerta y peleó del lado republicano en la Guerra Civil Española donde alcanzo el grado de coronel en las Brigadas Internacionales.
            
            Entre 1936-37, trabajó en Nueva York formando una escuela llamada "El Estudio Experimental de Siqueiros".
        </p>
        <p>Sus obras más destacadas son: Marcha de la Humanidad (1971), que decora las paredes del Hotel de México y que ocupa una superficie de 4.600 m2 de paneles articulados, y Del porfirismo a la revolución, de 4.500 m2, en el Museo de Historia Nacional de la ciudad de México.

Le concedieron el Premio Nacional de Arte de México y el Premio Lenin de la Paz.

David Alfaro Siqueiros falleció en Cuernavaca el 6 de enero de 1974, y fue sepultado en la Rotonda de los Hombres Ilustres.
      </p>

{{> footer}}