{{> header}}
{{> navbar}}

        <h1>Diego Rivera</h1>
        <br>
        <hr>

        <p>Diego Rivera nació el 8 de diciembre de 1886 con su gemelo Carlos María en Guanajuato. Hijo de Diego Rivera y María del Pilar Barrientos. Un año y medio después de nacido, murió su hermano, mientras él padecía raquitismo. En 1892 se traslado a la Ciudad de México con su familia.
Estudió en la academia de San Carlos y en el taller del grabador José Guadalupe Posada, cuya influencia fue decisiva. En la Academia de 1896 a 1902, donde tomó clases con Santiago Rebull, Salomé Piña, Félix Parra, José María Velasco y Antonio Fabrés, abandonó a los 16 años de edad debido -según sus propias palabras- a que el sistema de enseñanza de pintura solo estaba dirigida a la reproducción fiel de los objetos. De 1907 a 1921 estudió pintura en Europa. En 1921 regresó a México donde participó en el renacimiento de la pintura mural iniciado por otros artistas y patrocinado por el gobierno. En México su primer mural fue La creación (1922), destinado al anfiteatro Simón Bolívar de la Escuela Nacional Preparatoria. Ese mismo año, el pintor fue uno de los organizadores de la Unión de Trabajadores Técnicos y Plásticos. Rivera fue uno de los fundadores del Partido Comunista Mexicano
</p>
<p>
        Pintó grandes frescos, sobre la historia y la sociedad de su país en los techos y paredes de edificios públicos. De 1923 a 1926 realizó los murales al fresco de la Secretaría de Educación en la ciudad de México, aunque su obra maestra es La tierra fecunda (1927) para la Escuela Nacional de Agricultura de Chapingo, donde representa el desarrollo biológico del hombre y su conquista de la naturaleza. Pintó murales en el Palacio de Cortés, en Cuernavaca (1930) y en la Secretaría de Salubridad. Expuso y trabajó en Estados Unidos; su obra allí incluye un mural (1932-1933) para el Instituto de Bellas Artes de Detroit y un fresco, Hombre en la encrucijada (1933), encargado para el nuevo edificio de la RCA en el Rockefeller Center de Nueva York, y destruido poco después de su realización porque contenía, un retrato de Lenin. Un año más tarde, lo reprodujo para el Palacio de Bellas Artes de México. En 1935 terminó los frescos para la escalera monumental del Palacio Nacional de la ciudad de México, con su propia interpretación de la historia de su país. En la década de 1940 Diego Rivera pintó dos grandes murales en el Instituto Nacional de Cardiología (1944), y otro gran mural para el Hotel del Prado, Sueño de la Alameda (1947), de tema histórico-crítico.
</p>
<img src="Images.jpg/Diego 1.jpg" alt="">
        
{{> footer}}