{{> header}}
{{> navbar}}
  
        <h1>Pintores Reconocidos</h1>
        <p>Diego Rivera</p>
        <p>Frida Khalo</p>
        <p>Rufino Tamayo</p>
        <p>David Alfaro</p>
{{> footer}}
    